学籍番号

氏名

トランプカードを作ってみる。

問　すべての種類のカードを作成する。リストを用いよう。<br>
例
```
card = ["A_spade","K_spade",...,"A_heart","K_heart",....,"j1","j2"]
```

問　カードのmark，number，Jokerごとにリストにする。<br>
```
mark =["spade","heart","diamond","club"]
num = ["A","K","Q","J","X","9","8","7","6","5","4","3","2"]
Joker = ["j1","j2"]
```

In [170]:
mark =["spade","heart","diamond","club"]
num = ["A","K","Q","J","X","9","8","7","6","5","4","3","2"]
Joker = ["j1","j2"]

**トランプのセットを作る。** <br>
- cardという空リストを作る。<br>
- spadeの組を作り，それをcardに格納する。<br>
- heartの組を作り，それをcardに格納する。<br>
- diamondの組を作り，それをcardに格納する。<br>
- diamondの組を作り，それをcardに格納する。<br>
- 最後にJokerを格納する。

In [171]:
card = []
for i in mark:
    for k in num:
        card.append(f"{i}_{k}")

card.append(Joker[0])

In [172]:
import random

In [173]:
random.shuffle(card)

In [174]:
cc = {}
for u in range(2):
    cc.update({f"p{u}":[]})

p = list(cc.keys())

maisuu = int(len(card)//2)
nokori = len(card)%2

for kubaru in range(maisuu):
    #random.shuffle(p)
    a = random.sample(card,2)
    for i,k in zip(p,a):
        cc[i].append(k)
        card.remove(k) 

## 残りのカードの処理
## 誰に配る？
morauhito = random.sample(p,nokori)
for u,y in zip(morauhito,card):
    cc[u].append(y)

In [175]:
def baba(dat):
    dd = [i[-1] for i in dat]
    for i in dd:
        nn = i
        cc = dd.count(nn)
        if cc>1:
            dat.pop(0)
            dd.pop(0)
            
            y = dd.index(nn)
            dd.pop(y)
            dat.pop(y)
        else:
            pass
        
    return dat

In [176]:
aaa = cc["p1"]

In [177]:
aaa

['diamond_7',
 'diamond_8',
 'club_5',
 'spade_X',
 'heart_3',
 'diamond_Q',
 'spade_3',
 'club_3',
 'spade_2',
 'spade_8',
 'heart_X',
 'diamond_A',
 'club_Q',
 'spade_7',
 'spade_5',
 'spade_4',
 'club_J',
 'diamond_X',
 'spade_J',
 'spade_K',
 'heart_5',
 'j1',
 'heart_4',
 'club_X',
 'club_8',
 'diamond_9',
 'heart_A']

In [11]:
dd = [i[-1] for i in aaa]

In [178]:
aaa.sort()
aaa

['club_3',
 'club_5',
 'club_8',
 'club_J',
 'club_Q',
 'club_X',
 'diamond_7',
 'diamond_8',
 'diamond_9',
 'diamond_A',
 'diamond_Q',
 'diamond_X',
 'heart_3',
 'heart_4',
 'heart_5',
 'heart_A',
 'heart_X',
 'j1',
 'spade_2',
 'spade_3',
 'spade_4',
 'spade_5',
 'spade_7',
 'spade_8',
 'spade_J',
 'spade_K',
 'spade_X']

In [140]:

for i in set([i[-1] for i in aaa]):
    if dd.count(i)>1:
        dd.remove(i)
        dd.remove(i)

In [141]:
dd

['3', '9', '4', '5', '7', '2']

In [218]:
def baba(a):
    
    b = set(a)
    for i in b:
        if a.count(i)>1:
            a.pop(a.index(i))
            a.pop(a.index(i))
        
        else:
            pass
        
    return a

In [179]:
def baba2(aa):
    dd = [i[-2:] for i in aa]
    b = set(dd)
    gind=[]
    for i in b:
        if dd.count(i)>1:
            gind.append(aa[dd.index(i)])
            
        else:
            pass
    
    for t in gind:
        v = t[-2:]
        print(v)
        k=0
        for r,u in enumerate(aa):
            if u[-2:]==v:
                aa.pop(r)
                k+=1
            if k>1:
                break
       
        
    return aa

In [156]:
aaa

['diamond_4',
 'club_7',
 'spade_3',
 'heart_9',
 'heart_7',
 'club_8',
 'spade_J',
 'spade_8',
 'spade_Q',
 'diamond_J',
 'diamond_2',
 'diamond_7',
 'heart_J',
 'spade_7',
 'club_3',
 'spade_2',
 'heart_Q',
 'heart_5',
 'heart_4',
 'spade_4',
 'heart_8',
 'diamond_3',
 'heart_3',
 'club_X',
 'heart_A',
 'diamond_9']

In [85]:
aaa
dd = [i[-2:] for i in aaa]

In [181]:
baba2(aaa)

_X

['diamond_9', 'j1', 'spade_2', 'spade_3', 'spade_5', 'spade_8', 'spade_K']

In [135]:
aaaa

['j1',
 'club_J',
 'diamond_7',
 'diamond_2',
 'diamond_X',
 'club_5',
 'spade_K',
 'diamond_9',
 'diamond_4',
 'club_3']

In [89]:
aaa.remove("diamond_2")

In [90]:
aaa

['club_2',
 'club_3',
 'club_4',
 'club_6',
 'club_8',
 'club_9',
 'diamond_3',
 'diamond_6',
 'diamond_7',
 'diamond_9',
 'diamond_J',
 'diamond_X',
 'heart_4',
 'heart_6',
 'heart_8',
 'heart_9',
 'heart_J',
 'heart_X',
 'j1',
 'spade_2',
 'spade_3',
 'spade_6',
 'spade_7',
 'spade_J',
 'spade_X']

In [173]:
a = [1,2,3,2,2,1,2,3,4,5,6,7]
a1 = [1,2,3,4,5]

In [193]:
aa = ccc(bbb)

In [194]:
aa

['7', 'K', '8', '1', 'Q', '2', 'Q', '4']

In [195]:
ccc(aa)

['7', 'K', '8', '1', '2', '4']

In [163]:
b = set(a)
b

{1, 2, 3, 4, 5, 6, 7}

In [164]:
for i in b:
    if a.count(i)>1:
        a.pop(a.index(i))
        a.pop(a.index(i))

In [165]:
a

[2, 4, 5, 6, 7]